<div class="container">
  <h2>Lista de Tareas</h2>
  <div class="filters">
    <button (click)="onFilterChange('all')" [class.active]="filter === 'all'">Todas</button>
    <button (click)="onFilterChange('completed')" [class.active]="filter === 'completed'">Completadas</button>
    <button (click)="onFilterChange('pending')" [class.active]="filter === 'pending'">Pendientes</button>
  </div>

  <div *ngFor="let task of filteredTasks" class="task-card">
    <div class="task-header">
      <div class="task-status">
        <input type="checkbox" [checked]="task.completed" (change)="toggleTaskCompletion(task)" />
        <h3 [ngClass]="task.completed ? 'completed' : 'pending'">{{ task.name }}</h3>
      </div>
      <div class="deadline">{{ task.deadLine | date:'dd/MM/yyyy' }}</div>
    </div>
    <div class="persons">
      <h4>Personas Asociadas:</h4>
      <ul>
        <li *ngFor="let person of task.persons">
          <span class="person-name">{{ person.fullName }}</span>
          <span class="person-age">({{ person.age }} años)</span>
          <div class="person-skills">Habilidades: {{ getSkills(person) }}</div>
        </li>
      </ul>
    </div>
  </div>
</div>
